doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Nurtured Paws
    style.
      body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
           background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7GytyCa1lU9kglLbeOapzvr09Eq2cJfEiNg&s');
          margin: 0;
          padding: 0;
      }
      .container {
          max-width: 800px;
          margin: 100px auto;
          padding: 10px;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
          text-align: center;
          color: #333;
      }
      p {
          text-align: center;
          color: #666;
      }
      .button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #4CAF50;
          color: #fff;
          text-decoration: none;
          border-radius: 5px;
      }
      .button:hover {
          background-color: #45a049;
      }
  body
    div.container
      h1 Welcome to Our Website
      p Explore our services and discover what we have to offer!
      div(style="text-align: center;")
        a.button(href="/appointments") Appointments
        a.button(href="/pet_nurturers") Pet Nurturers
        a.button(href="/pet_owners") Pet Owners
